# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio
.vs
*.vcxproj
*.vcxproj.*
*.sln
x86
x64
Release
Debug

# External Documentaion
docs

# This project specifics
archive
cpp-bmp-loader
create_ba_files
tests*
examples-cpp20
